.news {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 0;
    .container-fluid {
        padding: 0;
        .controls {
            .carousel-controls {
                padding: 0;
                .left {
                    //@include frame(red);
                    background: lightgray;
                    color: whitesmoke;
                    @include transition(0.3);
                    i {
                        text-align: center;
                    }
                    &:hover {
                        background: darken(lightgray, 10%);
                    }
                }
                .right {
                    //@include frame(black);
                    background: lightgray;
                    color: whitesmoke;
                    i {
                        text-align: center;
                    }
                    &:hover {
                        background: darken(lightgray, 10%);
                    }
                }
            }
            //padding: 0;
            h3 {
                border-bottom: solid 3px lightgray;
                padding-bottom: 5%;
            }
        }
        .carousel {
            padding: 0;
            min-height: 140px;
            //@include frame(black);
            .slide {
                .carousel-inner {
                    .item {
                        margin-bottom: 10px;
                        padding: 10px;
                        .item-container {
                            .img {
                                background-image: url(../../assets/post-2-1.jpg);
                                height: 80px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            .titles {
                                border-bottom: solid 4px lighten($dark, 50%);
                            }
                            .content {
                                border-bottom: dotted 5px whitesmoke;
                            }
                            .button {
                                background: $yellow;
                                text-align: center;
                                padding: 5px;
                                height: 30px;
                                width: 30px;
                                @include transition(0.3);
                                &:hover {
                                    background: darken($yellow, 10%);
                                }
                            }
                            &:nth-child(2){
                                .img{
                                    background-image: url(../../assets/post-2-2.jpg);
                                }
                            }
                            &:nth-child(3){
                                .img{
                                    background-image: url(../../assets/post-2-3.jpg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
