.portfolio {
    background: white;
    padding: 0;
    .container-fluid {
        padding: 0;
        .controls {
            .carousel-controls {
                padding: 0;
                .left {
                    //@include frame(red);
                    background: lightgray;
                    color: whitesmoke;
                    @include transition(0.3);
                    i {
                        text-align: center;
                    }
                    &:hover {
                        background: darken(lightgray, 10%);
                    }
                }
                .right {
                    //@include frame(black);
                    background: lightgray;
                    color: whitesmoke;
                    i {
                        text-align: center;
                    }
                    &:hover {
                        background: darken(lightgray, 10%);
                    }
                }
            }
            //padding: 0;
            h3 {
                border-bottom: solid 3px lightgray;
                padding-bottom: 5%;
            }
        }
        .carousel {
            padding: 0;
            min-height: 140px;
            //@include frame(black);
            .slide{
                .carousel-inner{
                    .item{
                        padding: 10px;
                        .item-container{
                            .img{
                                img{
                                    align-content: center;
                                    height: 80px;
                                }
                            }
                            .titles{
                                h5{
                                    border-bottom: solid 4px lighten($dark,50%);
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
