.purchase {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 0;
    background: $dark;
    .container-fluid {
        height: 84px;
        .icon {
            height: 100%;
            .img {
                height: 100%;
                background: $yellow;
                background-image: url(../assets/icon-buy.png);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .description {
            height: 100%;
            color: whitesmoke;
            padding: 0% 0;
            p {
                h6 {
                    font-size: 10%;
                }
            }
        }
        .btn {
            padding: 2% 0;
            height: 100%;
            background: $yellow;
            border-radius: 0;
            text-align: center;
            @include transition(0.3);
            &:hover {
                background-color: darken($yellow, 10%);
            }
        }
        @media (max-width: 767px) {
            padding: 0;
            height: 100%;
            .description {
                padding: 5px 20px;
                height: 33%;
            }
            .icon {
                padding: 0;
                height: 34%;
            }
            .btn {
                padding: 25px;
                height: 34%;
            }
        }
        @media (min-width: 768px) {
            .btn {
                h2 {
                    position: relative;
                    top: 20px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        height: 256px;
    }
}
