.sponsors {
            padding: 0;
            .container-fluid {
                padding: 0;
                img {
                    filter: grayscale(100%);
                    padding: 0;
                    height: 100px;
                }
            }
        }